<script type="text/javascript">
	//function GetLastSearches() {
	//	$.ajax({
	//		type: "GET",
	//		url: "Search/GetLastSearches",
	//		data: {},
	//		success: function (data) {
	//			var listItems = "";
	//			for (var i = 0; i < data.length; i++) {
	//				listItems += '<li>' + data[i] + '</li>';
	//			}

	//			$('#LastSearches').append(listItems);
	//		}
	//	});
	//}

	//$(document).ready(function() {
	//	GetLastSearches();
	//});

</script>

<div class="list-group">
	<ul id="LastSearches">
		
	</ul>
</div>